<h1>Creating User</h1>

<%= form_for @user, url: create_users_path(@user)  do |f| %>

  <div class="field">
    <%= f.label :Select_if_admin %>
    <%= f.check_box :isAdmin, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions field">
    <%= f.submit "Create" %>
  </div>

<% end %>
<%= button_to "Cancel", root_path, method: "get" %>
