<div class="container center">
  <h1>Events Calendar</h1>


  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


  <% @all_events.each do |i|  %>
  <div class="card-group d-inline" style="width: 55rem;">

  <div class="card d-inline-block">

  <% if !i.event_image %>
  <%= image_tag 'http://i.imgur.com/hFjTK8K.png', size: "370x300" %>
   <%  else %>
    <%= image_tag i.event_image, size: "370x300" %>
  <% end %>

  <h3> Title : <%= i.title %> </h3>

<% if !i.description %>
<h4> Description : No description</h4>
<% elsif (i.description.split.size >= 5) %>
<h4> Description : <%= i.description[/(\S+\s+){5}/].strip %>... </h4>
<% else %>
<h4> Description : <%= i.description %></h4>

<% end %>

  <p> Start : <%= i.event_start.strftime('%e %b %y, %l:%M %p') %> || End : <%= i.event_end.strftime('%e %b %y, %l:%M %p') %></p>

  <% if (i.remaining_slots > 0) %>
    <p>Remaining slots : <%= i.remaining_slots %> </p>
  <% else %>
    <p> **FULLY BOOKED** </p>
  <% end %>

  <%= link_to "More details/ Book", event_path(i), class: "btn btn-primary" %>
  <% if current_user.isAdmin == true %>
  <%= link_to "Edit Event", edit_event_path(i), class: "btn btn-primary"  %>
  <%= link_to "Delete", event_path(i), method: :delete, class: "btn btn-primary" %>
  <% end %>
</div>
</div>
  <% end %>

</div>
