<h1>create event</h1>



<div class="container">

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<br><br>
  <%= form_for @new_event do |f| %>

  <div class="">
    <%= f.label :Title %>:
    <%= f.text_field :title, required: true %>
  </div>

  <div class="">
    <%= f.label :Description %>:
    <%= f.text_field :description, required: true %>
  </div>

  <div class="">
    <%= f.label :Venue %>:
    <%= f.text_field :venue, required: true %>
  </div>

  <div class="">
    <%= f.label :total_slots %>:
    <%= f.number_field :total_slots, required: true %>
  </div>

  <div class="">
      <%= f.label :price_pax %>:
    <%= f.number_field :price_pax, required: true %>
  </div>

  <div style="overflow:hidden;">
    <div class="form-group">
      <div class="row">
        <div class="col-md-8">
          <%= f.label :Start %>:
          <%= f.text_field :event_start, required: true, id: 'datetimepickerstart' %>
        </div>
      </div>
    </div>
  </div>

  <div style="overflow:hidden;">
    <div class="form-group">
      <div class="row">
        <div class="col-md-8">
          <%= f.label :End %>:
          <%= f.text_field :event_end, required: true, id: 'datetimepickerend' %>
        </div>
      </div>
    </div>
  </div>





  <div class="actions">
    <%= f.submit "Create Event" %>
  </div>

  <% end %>

</div>
