
<div class="container">

  <h1>Event Details & Booking</h1>

  <h2>Hello <%= current_user.name %></h2>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <p>Title: <%= @event.title %></p>

  <p>Start: <%= @event.event_start %> || End: <%= @event.event_end %> </p>

  <p>Venue: <%= @event.venue %></p>

  <p> Remaining tickets: <%= @event.remaining_slots %>/ <%= @event.total_slots %></p> </p>

  <% if @event.price_pax = 0 %>
  <p>Price per ticket: FREE ADMISSION!</p>
  <% else %>
  <p>Price per ticket: <%= @event.price_pax %></p>
  <% end %>

  <% if @event.event_image %>
   <%= image_tag @event.event_image %>
  <% else %>
    <!-- false -->
  <% end %>
<div class="">
  <p>Description:</p>
  <p><%= @event.description %></p>
</div>


  <div class="">
    <h2>BOOK TICKETS</h2>
    <%= form_for @new_reservation do |f| %>
    <%= f.label :Number_tix %>
    <%= f.number_field :no_pax %>
    <%= f.hidden_field :event_id, value: @event.id %>
      <%#= f.hidden_field :event_id, value: @event.event_id %>

      <div class="actions">
        <br>
        <%= f.submit "Book tickets" %>
      </div>

    <% end %>

  </div>

</div>
