<h1>Create new Advert</h1>
<div class="container">




<%= form_for @advert do |f| %>
<div class="">
  <p><%= f.label :title %>:</p>
  <p>  <%= f.text_field :title, autofocus: true, required: true  %></p>
</div>

<div class="">
  <p> <%= f.label :description %>:</p>
  <p>  <%= f.text_area :description,size: "100x15", required: true %> </p>
</div>

<div class="">
  <p>Click to add image: </p>
  <img class='advert_image' onclick="openEventWidgets()" src="http://i.imgur.com/hFjTK8K.png">
</div>

  <%= f.hidden_field :advert_image %>

<div class="">
    <%= f.submit "Create" %>
</div>

  <br>
<% end %>

</div>
