<h1>All Assets</h1>

<%= link_to "Home", root_path %>
<%= link_to "Create new asset", new_space_path %>
<br>

<% @assets.each do |asset| %>
<%= asset.asset_type %>
Belongs to user: <%= asset.user_id %>
<br>
<%= link_to "See more", space_path(asset.id) %>
<br>
<% end %>
