<h1>All Assets</h1>

<% @assets.each do |asset| %>
<div class="">
  <p> Asset ID: <%= asset.id %> </p>
  <p> Asset Type: <%= asset.asset_type %></p>
  <p> Created: <%= asset.created_at.localtime.strftime('%e %b %y, %l:%M %p') %></p>

  <% if asset.user_id %>
  <p> Assigned User: <%= asset.user.name %></p>
  <% else %>
  <p> Assigned User: NIL</p>
  <% end %>

  <%= link_to "Edit Asset/ Assign User to Asset", edit_space_path(asset.id)  %>

</div>
<% end %>
