<h1>Edit MeetingRoom</h1>

<div class="container">

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= form_for @current_room do |f| %>

  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <p><%= f.label :Room_name %>:</p>
        <p><%= f.text_field :room_title, required: true %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <p><%= f.label :occupancy %>:</p>
        <p><%= f.number_field :pax, required: true, min:0 %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <p><%= f.label :price_hour %>:</p>
        <p><%= f.number_field :price_hr, required: true, min: 0 %></p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

  <% end %>
</div>
