<h2>Form to book a room</h2>

<% if flash[:date_error] %>
<div class="notice"><%= flash[:date_error] %></div>
<% end %>

<div class="container">
  <div class="form-group field">
    <%= form_for @bookroom, url: bookroom_slots_path do |f| %>

    <div class="field">
      <%= f.label :meetingroom_id %>
      <%= f.select :meetingroom_id, options_for_select(@meetingrooms.map {|meetingroom| meetingroom.room_title}) %>
    </div>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group field">
          <%= f.label :date_start %> :
          <%= f.text_field :date_start, required: true, id: 'meetingRoomReservation' %>
        </div>
      </div>
    </div>

    <%= f.submit "View available slots", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
