<h2>Form to book a room</h2>

<div class="container">
  <div class="form-group">
    <%= form_for @new_room do |f| %>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :pick_a_room %> :
          <%= f.select :meetingroom, @room_title%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :date %> :
          <%= f.text_field :date_start, required: true, id: 'datetimepicker1' %>
        </div>
      </div>
    </div>

<%= @taken_slots.inspect %>
    <div class="row">
      <div class='col-sm-6'>
        <%= f.label :Pick_slot %> :
        <div class="form-group">
          <div class="row">
            <%= f.select :slot, @slot_avail, {}, {:multiple => true, :size => @slot_avail.length, class: "input-lg"} %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Book now" %>
    </div>


    <% end %>
  </div>
</div>
