<h2>Form to book a room</h2>

<div class="container">
  <div class="form-group">
    <%= form_for @new_room do |f| %>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :pick_a_room %>
          <%= f.select :meetingroom, @room_title%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :date %>
          <%= f.text_field :date_start, required: true, id: 'datetimepicker1' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :time_start %>
          <%= f.text_field :time_start, required: true, id: 'datetimepicker3start' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :time_end %>
          <%= f.text_field :time_end, required: true, id: 'datetimepicker3end' %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Book room" %>
    </div>

    <% end %>
  </div>
</div>
