<h3>Available Slots</h3>
<div class="container">

  <%= form_for @bookroom do |f| %>

  <div class="field">
    <%= f.select :slot, options_for_select(@available_slots.map {|slot| slot}), {}, {:multiple => true, :size => @available_slots.length} %>
    <%= f.hidden_field :date_start, :value => @bookroom.date_start %>
  </div>

  <div class="field">
    <%= f.hidden_field :meetingroom_id, :value => @bookroom.meetingroom_id %>
    <%= f.submit "Book MeetingRoom",class: "btn btn-primary" %>
  </div>

  <% end %>

  <%= link_to "Back", :back,class: "btn btn-primary" %>
</div>
